@font-face {
    font-family: 'GraphikLcg';
    src: url('graphik_lcg_regular_no_leading.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLcg';
    src: url('graphik_lcg_regular_italic_no_leading.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GraphikLcg';
    src: url('graphik_lcg_medium_no_leading.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLcg';
    src: url('graphik_lcg_medium_italic_no_leading.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}